h1 {
    font-size   : 40px;
    font-weight : bold;
    margin      : 10px 0;
}

body {
    margin : 0 6%;
}

.menu {
    list-style-type : none;     
    margin          : 0;
    padding         : 0;
    background-color: gray;    
    width           : auto;
    height          : 30px;
    overflow        : hidden;
}

.menu li {
    float : left;
}

.menu li a {
    font-family      : "Times New Roman"; 
    font-size        : 15px;
    display          : block;
    height           : 30px;
    width            : 100px;
    font-weight      : bold;
    color            : #FFFFFF;
    text-align       : center;
    text-decoration  : none;
    line-height      : 30px; 
}

.top_picture {
    height : 128px;  
}

.panel_body{
    width : 250px; 
    height : 100%;
    position : absolute;
    top : 20%; 
    right : 6%;
    background-color : #bebebe;
}

.latest_article {
    font-size : 15px;
    margin : 0 10px 20px 10px;
}

.latest_article h2 {
    text-align : left; 
}

.latest_article a {
    font-family      : "Times New Roman"; 
    font-size        : 16px;
    text-align : left; 
    width : 240px;
    word-wrap : break-word;
    word-break : normal;
    text-decoration : none;
}

.tag {
    margin : 0 0 20px 10px;
}

.tag h2 {
   text-align : left; 
}

.tag p {
   text-align : left; 
   line-height : 0.3;
}

.blog_info {
    margin : 2% 0; 
    width : 70%;
}

.blog_title {
    color           : black; 
    font-size       : 20px;
    text-decoration : none;
    margin          : 0 0 -10px 0;
}

.blog_content {
    color           : black; 
    font-size       : 20px;
    text-decoration : none;
}

.created_time{
    line-height : 0.5; 
    color           : black; 
    font-size       : 15px;
}

