body {
    font-family : "Microsoft Yahei"; 
}

h1 {
    font-size   : 50px;
    font-weight : bold;
    margin      : 40px 0 30px 0;
    text-align  : left; 
}

.blog_main {
    margin : 0 26% 0 10%;
}

.latest_article {
    font-size : 15px;
    margin : 0 10px 20px 10px;
}

.latest_article h2 {
    font-size   : 20px; 
    text-align : left; 
}

.latest_article a {
    font-size        : 16px;
    color : black;
    text-align : left; 
    width : 240px;
    word-wrap : break-word;
    word-break : normal;
    text-decoration : none;
}

.tag {
    margin : 0 0 20px 10px;
}

.tag h2 {
    font-size   : 20px; 
    text-align  : left; 
}

.tag a {
    font-size        : 16px;
    color : black;
    text-align : left; 
    line-height : 0.3;
    text-decoration : none;
}

.blog_info {
    margin : 2% 0; 
    width  : 90%;
}

.blog_title {
    color           : black; 
    font-size       : 20px;
    text-decoration : none;
    margin          : 0 0 -10px 0;
}

.blog_content {
    color           : black; 
    font-size       : 20px;
    text-decoration : none;
}

.created_time{
    line-height : 0.5; 
    color           : black; 
    font-size       : 15px;
}

.blog-masthead {
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}
/* Nav links */
.blog-nav-item {
    position    : relative;
    display     : inline-block;
    padding     : 10px;
    font-weight : bold;
    color       : #CDDDEB;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color          : #fff;
  text-decoration: none;
}

/* Sidebar modules for boxing content */
.sidebar-module {
    width    : 250px; 
    height   : 100%;
    position : absolute;
    top      : 20%; 
    right    : 6%;
}

.sidebar-module a {
    color     : black;
    font-size : 13px;
}
