/*front_page.html, edit_blog.html, add_blog.html, show_blog.html*/
h1 {
    color      : green;
    font-size  : 40px;
    text-align : center;
}

body {
    background: white url("bg_gray.gif") right bottom;
}

/*front_page.html, show_blog.html*/
.menu{
    font-family     : "Times New Roman"; 
    color           : green; 
    text-decoration : none;
    font-size       : 25px;
}

/*front_page.html*/
.top_picture {
    height : 128px;  
}

.blog_title {
    color           : green; 
    font-size       : 20px;
    text-decoration : none;
}

.created_time{
    color           : green; 
    font-size       : 18px;
}

/*edit_blog.html*/
.edit_blog_1 {
    font-family : "Times New Roman"; 
    color     : blue;
    font-size : 18px;
}

.edit_blog_2 {
    font-family : "Times New Roman"; 
    color     : blue;
    font-size : 18px;
}

/*add_blog.html*/
.new_blog_1 {
    font-family : "Times New Roman"; 
    color     : blue;
    font-size : 18px;
}

.new_blog_2 {
    font-family : "Times New Roman"; 
    color     : blue;
    font-size : 20px;
}


/*show_blog.html*/
.show_blog_title {
    font-family : "Times New Roman"; 
    font-size   : 28;
}

.show_blog_content {
    font-family : "Times New Roman"; 
    font-size   : 25;
}

