<html>
    <body>
        <form method="POST">
        {% csrf_token %}
            <h1 align="center"><b><font size="7">豆豆 LOVE 琛琛</font></b></h1>
            <br>
            <br>
            <label>
                <div><b><font size="5">新的故事</font></b></div>
            </label>
            <br>
            <label>
                <div>title</div><input type="text" name="title" value={{title}}>   
            </label>
            <br>
            <label>
                <div>blog</div><textarea name="blog">{{blog}}</textarea>
            </label>
            <br>
            <br>
            <input type="submit" value="submit"> 
        </form>
    </body>
</html>
