{% load staticfiles %}
<html>
    <head>
     <head>
        <link rel="stylesheet" type="text/css" href={% static 'lovehome/style.css' %} />
    </head>
    <body>
        <form method="POST">
        {% csrf_token %}
            <h1><strong>豆豆 LOVE 琛琛</strong></h1>
            <br>
            <br>
            <div class="new_blog_1">
                <strong>新的故事</strong>
            </div>
            <br>
            <p class="new_blog_2">title</p>
            <input type="text" name="title" value={{ title }}>   
            <br>
            <p class="new_blog_2">blog</p>
            <textarea name="blog">{{ blog }}</textarea>
            <br>
            <br>
            <div>
                <input type="submit" value="Submit"> 
                <input type="button" name="Cancle" value="Cancle" onclick="javascript:history.go(-1)"> 
            </div>
        </form>
    </body>
</html>
