{% load staticfiles %}
<html>
    <head>
     <head>
        <link rel="stylesheet" type="text/css" href={% static 'lovehome/add_blog.css' %} />
    </head>
    <body>
        <form method="POST">
        {% csrf_token %}
            <h1>豆豆 LOVE 琛琛</h1>
            <ul class="menu"> 
                <li><a class="menu" href="{% url 'lovehome:front_page' %}">HOME</a></li>
                <li><a href="{% url 'lovehome:add_blog' %}">ABOUT</a></li>
            </ul>
            <p class="new_blog_2">TITLE</p>
            <input type="text" name="title" value={{ title }}>   
            <p class="new_blog_2">BLOG</p>
            <textarea name="blog">{{ blog|linebreaks }}</textarea>
            <div>
                <input type="submit" value="Submit"> 
                <input type="button" name="Cancle" value="Cancle" onclick="javascript:history.go(-1)"> 
            </div>
        </form>
    </body>
</html>
