{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href={% static 'lovehome/style.css' %} />
    </head>
    <body>
        <form method="POST">
        {% csrf_token %}
            <h1><strong>豆豆 LOVE 琛琛</strong></h1>
            <br>
            <br>
            <div class="edit_blog_1"><strong>EDIT</strong></div>
            <br>
            <p class="edit_blog_2">title</p><input type="text" name="title" value={{ blog_data.title }}>   
            <br>
            <p class="edit_blog_2">blog</p><textarea name="blog">{{ blog_data.blog_content }}</textarea>
            <br>
            <br>
            <div>
                <input type="submit" value="Submit"> 
                <input type="button" name="Cancle" value="Cancle" onclick="javascript:history.go(-1)">  
            </div>
        </form>
    </body>
</html>
