{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href={% static 'lovehome/style.css' %}>
    </head>
    <body>
        <form method="POST">
        {% csrf_token %}
            <h1 align="center"><b>豆豆 LOVE 琛琛</b></h1>
            <br>
            <br>
            <div id="edit_blog">
                <b>EDIT</font></div>
            </div>
            <br>
            <label>
                <div>title</div><input type="text" name="title" value={{ blog_data.title }}>   
            </label>
            <br>
            <label>
                <div>blog</div><textarea name="blog">{{ blog_data.blog_content }}</textarea>
            </label>
            <br>
            <br>
            <div>
                <input type="submit" value="Submit"> 
                <input type="button" name="Submit" value="Cancle" onclick="javascript:history.go(-1)" />  
            </div>
        </form>
    </body>
</html>
