<html>
    <head>
    </head>
    <body>
        <form method="post">
        <h1 align="center"><b><font size="7">DRT Love ZCC</font></b></h1>
            {% if blog_data %} 
                <br>
                <br>
                {% for blog in blog_data %} 
                    <label>
                        <div><b><font size="5">{{ blog.title }}</font></b></div>
                    </label> 
                    <br>
                    <br>
                    <label>
                        <div>{{ blog.blog_content }}</div>
                    </label>
                {% endfor %}
            {% else %}
                <P>Sorry, there is no blog right now!!!</P>
            {% endif %}
        </form>
    </body>
</html>
            
