{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'lovehome/style.css' %}" />
    </head>
    <body>
        <form method="post">
            <h1 align="center"><b>豆豆 LOVE 琛琛<b></h1>
            <img src="{% static "lovehome/rdou_ccz.jpg" %}" alt="DD and CC" style="width:128px;" /> 
            {% if blog_data %} 
                <div>
                    <a class="add_blog" href="{% url 'lovehome:add_blog' %}">New Blog</a>
                </div>
                <hr /> 
                {% for blog in blog_data %} 
                    <div id="title">
                        &nbsp;&nbsp;<b><a class="blog_title" href="{% url 'lovehome:blog_page' blog.id %}">{{ blog.title}}</a></b>
                        &nbsp;(Created at {{blog.b_created_time}})
                    </div> 
                {% endfor %}
            {% else %}
                <P>Sorry, there is no blog right now!!!</P>
            {% endif %}
        </form>
    </body>
</html>
            
