{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href={% static 'lovehome/style.css' %} />
    </head>
    <body>
        <h1><strong>豆豆 LOVE 琛琛</strong></h1>
        <div> 
            <a class="menu" href="{% url 'lovehome:front_page' %}">Home</a>
            <a class="menu" href="{% url 'lovehome:edit_blog'  blog_data.id %}">Edit</a>
            <a class="menu" href="{% url 'lovehome:delete_blog'  blog_data.id %}">Delete</a>
        </div>
        <hr /> 
        <div class="show_blog_title">
            <h2><strong>{{ blog_data.title }}</strong></h2>
        </div>
        <div class="show_blog_content">
            <p>{{ blog_data.blog_content|safe }}</p>
        </div>
    </body>
</html>

